@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --primary-color: #00539cff;
  --secondary-color: #ffd662ff;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

.nav {
  /* display: flex; */
}

.nav-link {
  display: flex;
  min-height: 50vh;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-link__button {
  margin: auto;
  padding: 1rem;
  width: 20rem;
  border-radius: 0.5rem;

  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  /* border: 2mm ridge var(--primary-color); */
}

/* .nav-link__button:hover { */
/* background-color: white; */
/* background-color: rgb(69, 233, 233); */

.bg-color-first-button {
  background-color: #be123c;
}

.bg-color-first-button:hover {
  /* background-color: #F43F5E; */
  background-color: black;
  color: wheat;
}

.bg-color-second-button {
  background-color: aqua;
}

.bg-color-second-button:hover {
  background-color: black;
  color: wheat;
}

.bg-color-third-button {
  background-color: #65a30d;
}

.bg-color-third-button:hover {
  background-color: black;
  color: wheat;
}

.bg-color-fourth-button {
  background-color: #ea580c;
}

.bg-color-fourth-button:hover {
  background-color: black;
  color: wheat;
}
.app-heading {
  margin-top: 0px;
}

.home {
  background-image: linear-gradient(
    140deg,
    var(--primary-color) 50%,
    var(--secondary-color) 75%
  );
  min-height: 11.2vh;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
}

.home-button {
  float: right;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-radius: 1.4rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: large;
  font-family: "Montserrat Alternates", sans-serif;
  cursor: pointer;
}

.home-button:hover {
  background-color: #1d4ed8;
}

footer {
  padding: 1rem 0rem 0rem;
  background: var(--primary-color);
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.footer-header {
  /* margin: 10% auto ; */
  font-weight: bold;
  font-size: larger;
  margin-left: 43%;
  border: 4px solid black;
  border-block-end-color: var(--secondary-color);
  padding: 0.5rem;
  display: inline;
  color: white;
}

.button-block {
  width: 600px;
  /* margin-top: 40px; */
  margin: auto;
}

.social {
  display: inline-block;
  margin: 30px;
  cursor: pointer;
}

.social a {
  display: block;
  background: rgba(0, 0, 0, 1);
  padding: 2px;
  position: relative;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.button-block .social a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  left: -20px;
  top: 10px;
  background: rgba(0, 0, 0, 0.7);
  transform: rotate(0deg) skewY(-45deg);
}

.button-block .social a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  transform: rotate(0deg) skewX(-45deg);
  background: rgba(0, 0, 0, 0.7);
  transform: rotate(45deg) scewY(-45deg);
}

.social a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(20px, -20px);
  box-shadow: -50px 50px 30px rgba(0, 0, 0, 0.5);
}

.social a i {
  color: rgba(256, 256, 256, 1);
  font-size: 25pt;
}
